

/**@font-face */

/*@font-face {
    font-family: "Montserrat" ;
    src: '../fonts/Montserrat/Montserrat-Regular.ttf';
}*/
@font-face {
    font-family: "Pushter" ;
    src: '../fonts/Pushter/Pushter-Regular.ttf';
}